* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body,
main {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Orienta';
    src: url('/fonts/Orienta-Regular.eot');
    src:
        url('/fonts/Orienta-Regular.ttf') format('truetype'),
        url('/fonts/Orienta-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Orienta-Regular.woff2') format('woff2'),
        url('/fonts/Orienta-Regular.woff') format('woff'),
        url('/fonts/Orienta-Regular.svg#Orienta-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header {
    display: flex;
}

.header img {
    max-width: 300px;
    max-height: 300px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.container-fill {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.scrollable-content {
    height: 100%;
}

.flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control::placeholder {
    text-align: center;
}

.bg-white {
    background-color: #fff;
}

.mt-4 {
    margin-top: 1em;
}

.p-2 {
    padding: .5em;
}

.mb-4 {
    margin-bottom: 1em;
}

.logo {
    margin-bottom: .75rem;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td,
.table th {
    text-align: left;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-striped tr:nth-child(2n) {
    background-color: #E4F0DB;
}

.thead-green {
    background-color: #E4F0DB;
    color: #000;
}

.center {
    text-align: center !important;
}

.image-small {
    width: 100px;
}

.hidden {
    display: none;
}

.search-container {
    position: sticky;
    top: 0;
    background-color: white;
}

thead th {
    position: sticky;
    top: -1px;
    background-color: #E4F0DB;
}

@media (max-width: 800px) {

    .table th:nth-child(4),
    .table td:nth-child(4) {
        display: none;
    }
}


.title {
    font-family: 'Orienta';
    font-size: 20pt;
    color: #F7A706;
    font-weight: bold;
    text-shadow: -1px -1px 0 #322B6A, 1px -1px 0 #322B6A, -1px 1px 0 #322B6A, 1px 1px 0 #322B6A;
}